.react-datepicker {
    font-family: Arial, sans-serif;
    border: 1px solid #ffc107;
    border-radius: 5px;
  }
  
  .react-datepicker__header {
    background-color: #ffc107;
    border-bottom: 1px solid #ffc107;
  }
  
  .react-datepicker__day--today {
    font-weight: bold;
    color: #000;
  }
  
  .react-datepicker__day--selected {
    background-color: #000;
    color: #ffc107;
  }
  